<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
  // include: "type": "css", "files": "styles/**/*.css"
body
  h1 Baxter!
  img(src="images/anchorman.gif")
    
// bower:js
// endbower
// include: "type": "js", "files": "scripts/**/*.js"
